/* colors */

$base: #fff;
$text: #fff;
$text-light: #333;
$primary: #fff;
$secondary: #fff;
$tertiary: #fff;
$link: #333;
$highlight: #FF4343;

/* mixins */

// @mixin box-shadow($color) {
//   &::after,
//   &::before {
//     box-shadow: -2rem 2rem 0 $color, 2rem -2rem 0 $color;
//   }
// }

/* general styling */

html {
  font-size: 16px;
}

body {
  background-color: $base;
  color: $text-light;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
}

h1,
h2 {
  font-family: 'Eczar', serif;
  font-weight: 800;
}

i {
  font-size: 0.8rem;
}

a {
  border-bottom: 1px solid transparent;
  font-weight: 600;
  text-decoration: none;
  
  &:link,
  &:visited,
  &:active {
    color: $link;
  }
  &:hover {
    color: $highlight;
    border-bottom-color: $highlight;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  width: 90%;
  margin: 1em auto;
}

@media (min-width: 64em) {
  .content {
    width: 60%;
  }
}

.centered {
  text-align: center;
}


/* header styling */

.header {
  padding: 1em 2em;
}

.img-wrapper {
  border-radius: 50%;
  height: 80px;
  overflow: hidden;
  width: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    align-self: flex-end;
  }
  li a {
    display: block;
    padding: 1em;
  }
}


/* main content styling */

.main {
  flex: 1;
  padding-top: 2rem;
}

.section {
  border-bottom: 1px solid $highlight;
  padding: 4rem 2rem;
  position: relative;
  &:first-of-type {
    border-top: 1px solid $highlight;
  }
  
  &::after,
  &::before {
    box-shadow: -2rem 2rem 0 $highlight, 2rem -2rem 0 $highlight;
    content: "";
    left: 50%;
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: translateX(-50%) rotate(45deg);
  }
  &::before {
    top: -1rem;
    background: $highlight;
  }
  &::after {
    bottom: -1rem;
    background: $highlight;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    position: relative;
    &::before {
      content: "";
      border-bottom: 0.15em solid;
      position: absolute;
      left: -2rem;
      bottom: -0.25em;
      width: 1.5em;
    }
  }
}

.section--primary {
  // @include box-shadow($highlight);
  background-color: $primary;
}

.section--secondary {
  // @include box-shadow($highlight);
  background-color: $secondary;
}

.section--tertiary {
  // @include box-shadow($highlight);
  background-color: $tertiary;
}

.social {
  margin-top: 2rem;
  text-align: center;
  a {
    align-items: center;
    background-color: $text-light;
    border-radius: 50%;
    display: inline-flex;
    height: 10rem;
    justify-content: center;
    margin-bottom: 2rem;
    width: 10rem;
    &:hover {
      background: $highlight;
      border: none;
    }
  }
  i {
    color: $primary;
    font-size: 6rem;
  }
}


/* footer styling */

.footer {
  padding: 2em 1em;
}