{
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": "package.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.svg",
			"options": {
				"parser": "html"
			}
		}
	]
}
