@import '../../node_modules/rfs/scss';
@import './_variables';
@import './_mixins';

.item {
	padding-inline-start: $spacing-lg;
	position: relative;

	&::before {
		border-inline-start: 1px dashed $color-medium-light;
		bottom: 0;
		content: '';
		inset-inline-start:  $spacing-md;
		position: absolute;
		top: 0;
	}

	&::after {
		background-color: $color-white;
		border-radius: 50%;
		border: 1px solid $color-medium-light;
		content: '';
		height: $font-size-caption;
		inset-inline-start:  $spacing-md;
		position: absolute;
		top: 0;
		transform: translate(-50%);
		width: $font-size-caption;
	}

	&:not(:first-of-type) {
		margin-top: $spacing-lg;

		@include breakpoint(md) {
			@include margin-top($spacing-lg);
		}
	}

	&__subtitle {
		color: $color-medium-light;
		@include font-size($font-size-caption);
	}

	&__title {
		@include font-size($font-size-subtitle);
		@include padding-bottom($spacing-md);
		@include padding-top($spacing-md);
	}

	&__description {
		line-height: $line-height-large;
		@include padding-bottom($spacing-md);
	}

	&__extra {
		line-height: $line-height-large;

		&:not(:last-of-type) {
			@include padding-bottom($spacing-sm);
		}
	}

	&__list {
		line-height: $line-height-large;
		@include padding-top($spacing-sm);
	}

	&__list--collapsed {
		@include breakpoint(lg) {
			display: flex;
			flex-wrap: wrap;

			li:not(:last-of-type) {
				&::after {
					content: '';
					border-inline-end: 1px solid $color-medium-light;
					margin-inline-end: $spacing-sm;
					margin-inline-start: $spacing-sm;
				}
			}
		}
	}
}
