$color-white: #fff;
$color-light: #fafafa;
$color-medium-light: #aaa;
$color-medium: #666;
$color-dark: #333;

$font-family-base: 'Source Code Pro', monospace;
$font-size-accent: 4.8rem;
$font-size-title: 3.2rem;
$font-size-regular: 1.6rem;
$font-size-caption: 1.3rem;
$font-size-subtitle: 2.1rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-default: 1.2;
$line-height-large: 1.5;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;
